[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Calculator
Icon=/usr/share/icons/Faenza-Cupertino-mini/apps/48/calc.png
Categories=Education;
Exec=xcalc
Terminal=false
