[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Terminal
Name[am]=ተርሚናል
Name[ar]=شاشة طرفية
Name[az]=Terminal
Name[be]=Тэрмінал
Name[bg]=Терминал
Name[bn]=টার্মিন্যাল
Name[bs]=Terminal
Name[ca]=Terminal
Name[cs]=Terminál
Name[cy]=Terfynell
Name[da]=Terminal
Name[de]=Terminal
Name[el]=Τερματικό
Name[es]=Terminal
Name[et]=Terminal
Name[eu]=Terminala
Name[fa]=پایانه
Name[fi]=Pääte
Name[fr]=Terminal
Name[ga]=Terminéal
Name[gl]=Terminal
Name[gu]=ટર્મિનલ
Name[he]=מסוף
Name[hi]=टर्मिनल
Name[hr]=Terminal
Name[hu]=Terminál
Name[hy]=Տերմինալ
Name[id]=Terminal
Name[it]=Terminale
Name[ja]=端末
Name[kk]=Terminal
Name[ko]=터미널
Name[lt]=Terminalas
Name[lv]=Terminālis
Name[mk]=Терминал
Name[ml]=ടെ‍ര്മിനല്
Name[mn]=Терминал
Name[ms]=Terminal
Name[nb]=Terminal
Name[ne]=टर्मिनल
Name[nl]=Terminalvenster
Name[nn]=Terminal
Name[no]=Terminal
Name[pa]=ਟਰਮੀਨਲ
Name[pl]=Terminal
Name[pt]=Consola
Name[pt_BR]=Terminal
Name[ro]=Terminal
Name[ru]=Терминал
Name[sk]=Terminál
Name[sl]=Terminal
Name[sq]=Terminali
Name[sr]=терминал
Name[sv]=Terminal
Name[ta]=முனையம்
Name[th]=เทอร์มินัล
Name[tr]=Uçbirim
Name[uk]=Термінал
Name[vi]=Thiết bị cuối
Name[wa]=Terminå
Name[xh]=i-Terminal
Name[zh_CN]=终端
Name[zh_TW]=終端機	
Icon=terminal
Categories=Settings;
Exec=desktop-defaults-run -t
Terminal=false
NoDisplay=True
