[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Audio Player
Name[be]=Музычны плэер
Name[cs]=Přehrávač hudby
Name[da]=Lydafspiller
Name[de]=Audio-Player
Name[es]=Reproductor de música
Name[fr]=Lecteur de Musique
Name[it]=Lettore di Musica
Name[lt]=Muzikos grotuvas
Name[nl]=Muziekspeler
Name[nb]=Lydavspiller
Name[pl]=Odtwarzacz muzyki
Name[pt]=Leitor de Música
Name[pt_br]=Leitor de Música
Name[ro]=Lector de Muzică
Name[ru]=Аудио-проигрыватель
Name[se]=Ljudspelare
Name[uk]=Медіа-програвач
Name[tr]=Ses Oynatıcı
Name[zh_CN]=音乐播放器
Name[zh_TW]=音樂播放器
Icon=multimedia
Categories=Settings;
Exec=desktop-defaults-run -a
Terminal=false
NoDisplay=True
