[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Web Browser
Name[ar]=متصفّح وِب
Name[ast]=Restolador web
Name[be]=Гартач Сеціва
Name[bg]=Интернет браузър
Name[bn]=ওয়েব ব্রাউজার
Name[ca]=Navegador web
Name[cs]=Webový prohlížeč
Name[da]=Webbrowser
Name[de]=Webbrowser
Name[el]=Περιηγητής διαδικτύου
Name[en_GB]=Web Browser
Name[es]=Navegador web
Name[et]=Veebisirvija
Name[eu]=Web nabigatzailea
Name[fi]=Web-selain
Name[fr]=Navigateur Web
Name[gl]=Navegador web
Name[he]=דפדפן אינטרנט
Name[hr]=Web preglednik
Name[hu]=Webböngésző
Name[id]=Peramban Web
Name[it]=Browser web
Name[ja]=ウェブブラウザー
Name[kk]=Веб браузері
Name[ko]=웹 브라우저
Name[lt]=Interneto naršyklė
Name[lv]=Tīmekļa pārlūks
Name[nb]=Nettleser
Name[nl]=Webbrowser
Name[nn]=Nettlesar
Name[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka internetowa
Name[pt]=Navegador web
Name[pt_BR]=Navegador web
Name[ro]=Navigator
Name[ru]=Веб-браузер
Name[sk]=Internetový prehliadač
Name[sq]=Shfletues Web
Name[sr]=Веб прегледник
Name[sv]=Webbläsare
Name[tr]=İnternet Tarayıcısı
Name[ug]=توركۆرگۈ
Name[uk]=Переглядач Web
Name[ur]=ویب براؤزر
Name[ur_PK]=ویب براؤزر
Name[zh_CN]=网络浏览器
Name[zh_TW]=網路瀏覽器
Icon=web-browser
Categories=Settings;
Exec=desktop-defaults-run -b
Terminal=false
NoDisplay=True
